@charset "UTF-8";

:root {
    --verde: #49e89d;
    --lilas: #5f2c82;
    --azul: #94CFCD;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    border-radius: 20px;
    margin-top: 50px;
}
section#tela {
    background-color: white;
    width: 230px;
    height: 40%;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
}
section#tela p {
    text-align: left;
    font-size: 13px;
}
section#tela h1 {
    padding-bottom: 10px;
}
section#imagem {
    background: var(--verde) url(../imagens/metal.jpg) no-repeat bottom center;
    background-size: cover;
    height: 200px;
    display: block;
    width: 250px;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
}
form div {
    background-color: var(--lilas);
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
}
i {
    color: white;

}
input.campo {
    background-color: var(--azul);
    width: 85%;
    height: 35px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}
input#botao {
    background-color: #53AAA7;
    color: white;
    height: 40px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
}
a {
    color: #2D6462;
    width: 92%;
    font-size: 16px;
    padding: 8px;
    display: inline-block;
    border: 2px solid #A4D0CE;
    vertical-align: auto;
    text-decoration: none;
    border-radius: 7px;
}



