@charset "UTF-8";

:root {
    --verde: #49e89d;
    --lilas: #532670;
    --azul: #94CFCD;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--lilas);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    width: 250px;
    position: absolute;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.726);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}
section#tela {
    background-color: white;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
}
section#tela p {
    text-align: left;
    font-size: 13px;
}
section#tela h1 {
    padding-bottom: 10px;
    text-align: center;
}
section#imagem {
    background: var(--verde) url(../imagens/metal.jpg) no-repeat left bottom;
    background-size: cover;
    height: 200px;
    display: block;
    border-radius: 20px 20px 0px 0px;
}
form div {
    background-color: var(--lilas);
    height: 45px;
    border-radius: 10px;
    margin: 5px 0px;
}
i.material-icons {
    color: white;
    font-size: 2em;
    width: 28px;
    padding: 5px;
}
input.campo {
    background-color: #8EC8D4;
    width: calc(100% - 53px);
    height: 33px;
    padding: 4px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    transform: translateY(-9px);
}
input.campo:focus-within {
    background-color: white;
}
input#botao {
    background-color: #53AAA7;
    color: white;
    height: 40px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
}
input#botao:hover {
    background-color: #2D6462;
    cursor: pointer;
}
input#botao:active {
    background-color: rgb(34, 70, 70)
}
a {
    color: #2D6462;
    width: 92%;
    padding: 8px;
    font-size: 16px;
    display: inline-block;
    border: 2px solid #A4D0CE;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
}
a:hover {
    background-color: #6CD3CF;
}
a:active {
    background-color: #54a09f;
    color: black;
}




